<h1>User detail</h1>
<div>
  <div>
    <label>Username</label><%= @user.username %>
  </div>

  <div>
    <label>Password</label><%= @user.password %>
  </div>
</div>

<div>
  <%= link_to "Back to list", users_path %>
</div>