<h1>New User</h1>

<%= form_for @user, url: {action: "create"}, html:{class: 'form', autocomplete: "off"} do |f| %>
  <div>
    Username: <%= f.text_field :username %>
    Password: <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "Create" %>
  </div>
<% end %>
